<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Know Your Heart - Classification of Arrhythmia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background-color: #000;">
        <div class="navbar-brand d-flex text-center mx-auto">
            <span class="mx-5" style="position: absolute; z-index: 2; margin: 2rem auto;">
                Predict Ur
            </span>
            <div class="heart-rate mx-5">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" width="134px" height="65px" viewBox="0 0 150 73" enable-background="new 0 0 150 73"
                    xml:space="preserve">
                    <polyline fill="none" stroke="#18E6F0" stroke-width="3" stroke-miterlimit="10"
                        points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486" />
                </svg>
                <div class="fade-in"></div>
                <div class="fade-out"></div>
            </div>
            <span style="margin: 2rem 5rem;">
                Heart Rate
            </span>
        </div>
    </nav>

    <div class="col d-flex-wrap m-3">
        <h4 class="text-center mt-5 px-5 fw-bold display-6" style=" letter-spacing: 5px;">
            Classification of Arrhythmia</h4>
        <div class="col-11 mx-5 my-2 mt-5">
            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col-4">
                    <img class="img-fluid bg-light mx-5 my-3" src="/static/images/LBB.svg" alt=""
                        style="width: 300px;height: 310px;">
                </div>
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 11.7rem;">
                        Left Bundle Branch
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin-left: 270px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>
                    <p class="text-light mx-5 text-justify">
                        A delay blockage of electrical impulses
                        to the left of the heart. Left bundle brach block sometimes
                        makes it harder for the heart to pump
                        blood efficiently through the circulatory
                        system.
                    </p>
                    <p class="text-light mx-5 text-justify">Most people don't have symptoms. If
                        symtoms occur, they inlcude fainting or
                        a slow heart rate.
                    </p>
                    <p class="text-light mx-5 text-justify">If there's an underlying condition, such
                        as heart disease, that condition needs
                        treatment. In patients with heart failure,
                        a pacemaker can also relieve symptoms as
                        well as prevent death.
                    </p>
                </div>
            </div>

            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 7.5rem;">
                        Right Bundle Branch
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin-left: 210px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>

                    <p class="text-light mx-5 text-justify">Right bundle branch block is associated with
                        structural changes from strech or ischemia to
                        the myocardium. It can also occur
                        iatorgenically from certain common cardiac
                        precedures, such as right heart catheterization.
                    </p>
                    <p class="text-light mx-5 text-justify">Although there is no significant association
                        with cardiovascular risk factors, the presence
                        with cardiovascular risk factors, the presence
                        of a right bundle branch block is a predictor of
                        mortality in myocardial infarction, heart
                        failure, and certain heart blocks.
                    </p>
                    <p class="text-light mx-5 text-justify">In asymptomatic patients, isolated right bundle
                        brach block typically does not need further
                        evaluation.</p>
                </div>
                <div class="col-5">
                    <img class="img-fluid  bg-light" src="/static/images/RBB.svg" alt=""
                        style="width: 400px;height: 310px;margin: 40px 60px 40px 20px;">
                </div>
            </div>
            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col-4">
                    <img class="img-fluid  bg-light" src="/static/images/Normal.svg" alt=""
                        style="width: 300px;height: 310px;margin: 30px 10px 30px 30px;">
                </div>
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 19.5rem;">
                        Normal
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin-left: 270px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>
                    <p class="text-light mx-5 text-justify">Note that the heart is beating
                        in a regular sinus rhythm
                        between 60-100 beats per
                        minute (specifically 82 bpm).
                    </p>
                    <p class="text-light mx-5 text-justify">All the important intervals
                        on this recording are within
                        normal ranges.
                    </p>
                    <p class="text-light mx-5 text-justify">The normal ECG
                        patterns seen in children
                        differ considerably from those
                        in adults.
                    </p>
                </div>
            </div>
            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 3.3rem;">
                        Premature Atrial Contraction
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin-left: 210px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>
                    <p class="text-light mx-5 text-justify">usually, premature artial contraction have
                        no clear cause and no health risks. In most
                        cases, premature artrial contractions aren't a
                        sign of heart disease and just happen
                        naturally.
                    </p>
                    <p class="text-light mx-5 text-justify">But some people who have PACs turn out to
                        have related heart conditions, such as
                        Cardiomyopathy (a weakend heart muscle)
                        Caronary heart disease (fatty deposits in you blood vessels).
                    </p>
                </div>
                <div class="col-5">
                    <img class="img-fluid" src="/static/images/PAC.jpg" alt=""
                        style="width: 400px;height: 310px;margin: 40px 60px 40px 20px;">
                </div>
            </div>
            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col-4">
                    <img class="img-fluid" src="/static/images/PVC.jpg" alt=""
                        style="width: 300px;height: 310px;margin: 30px 10px 30px 30px;">
                </div>
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 2.5rem;">
                        Premature Ventricular Contractions
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin-left: 270px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>

                    <p class="text-light mx-5 text-justify">Extra, abnorma heartbeats that begininone of the
                        Heart's two lower chambers.
                    </p>
                    <p class="text-light mx-5 text-justify">Premature ventricular contractions (PVCs) occur
                        in most people at some point. Causes may include certain
                        medication, alcohol, some illegal drugs, caffeine,
                        tobacco, excercise or anxiety.
                    </p>
                    <p class="text-light mx-5 text-justify">
                        PVCs often cause no symtoms. When symptoms do
                        occur, they feel like a flip-flop or skipped-beat
                        sensation in the chest.
                    </p>
                    <p class="text-light mx-5 text-justify">Most people with isolated PVCs and an otherwise
                        normal heart don't need treatment. PVCs occurring
                        continuously serious cardiac than 30 seconds is a
                        potentially serious cardiac condition known as
                        ventriclular tachycardia.
                    </p>
                </div>
            </div>
            <div class="row bg-dark my-3 py-3 rounded">
                <div class="col">
                    <span class="text-light display-6 fw-bolder mt-5 d-inline-block" style="margin-left: 7.5rem;">
                        Ventricular Fibrillation
                    </span>
                    <br>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin-left: 210px !important;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #18E6F0; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <span class="mt-2"
                        style="width: 25px;height: 25px; background-color: #0b6fc1; border-radius: 50%;margin: 0px 10px;display: inline-block;"></span>
                    <br><br>
                    <p class="text-light mx-5 text-justify">A life-threatening heart rhythm that results in a
                        rapid, inadeuate heartbeat.
                    </p>
                    <p class="text-light mx-5 text-justify">Ventricular fibrillation (VF) is a rapid,
                        Life-threatening heart rhythm starting in the bottom
                        chambers of the heart. It can be triggered by a heart attack.
                    </p>
                    <p class="text-light mx-5 text-justify">Because the heart doesn't pump adequately during
                        ventricular fibrillation, sustained VF can cause
                        low blood pressure, losso f consciousness of death.
                    </p>
                    <p class="text-light mx-5 text-justify">Emergency treatment includes immediate
                        defibrillation with a n automated external
                        defibrillator (AED) and cardiopulmonary
                        resuscitation(CPR). Long-term therapy includes
                        implantable defibrillators and medcations to
                        prevent recurrence.
                    </p>
                </div>
                <div class="col-5">
                    <img class="img-fluid" src="/static/images/VF.png" alt=""
                        style="width: 400px;height: 310px;margin: 40px 60px 40px 20px;">
                </div>
            </div>
        </div>
    </div>

</body>

</html>